.custom-shape-divider-bottom-1716725832 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1716725832 svg {
    position: relative;
    display: block;
    width: calc(203% + 1.3px);
    height: 98px;
}

.custom-shape-divider-bottom-1716725832 .shape-fill {
    fill: #000000;
}

@media screen and (min-width: 1280px){
  .custom-transform {
    @apply transform;
    transform: scale(4) translate(-7px, -86px) rotate(45deg);
  }
}

@media screen and (min-width: 1024px){
  .custom-transform {
    @apply transform;
    transform: scale(3.5) translate(-19px, -75px) rotate(44deg);
  }
}


  /* .custom-select {
    padding-right: 2.5rem; 
  } */
  
  .custom-arrow svg {
    height: 1.5rem; /* Increase the size of the arrow */
    width: 1.5rem;
    fill: white; /* Make the arrow white */
  }

  #left_full{
    margin-left:-105px;
    right:35rem;
    border-radius:50px;
    padding-top:3rem;
  }
  #left_half{
    margin-left:-105px;
    right:55rem;
    border-radius:50px;
    padding-top:3rem;
  }

  #letter
  {
    
    right: 19rem;
    top: 4px;

  }

  
  #letter2
  {
    
    right: 29rem;
    top: 4px;

  }