#bars {
    transform: translate(-102px, 38px) scale(0.92);
}

#profile {
    transform: translate(51px, 47px) scale(1.83) scaleX(-1);
}

#gray-background {
    width: 304px;
    height: 344px;
    transform: translate(69px, -15.5px) scale(1.83) scaleX(-1);
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(173,173,191,1) 52%, rgba(132,134,134,1) 100%);
}

#spancolor-text{
    background: linear-gradient(113deg, rgba(241,85,85,1) 0%, rgba(240,93,87,1) 0%, rgba(189,43,38,1) 39%, rgba(218,43,0,1) 74%, rgba(219,82,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: montserrat;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0532d;
    border-radius: 0.5rem;
    z-index: -2;
  }
  
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #c04523; 
    transition: all 0.3s;
    border-radius: 0.5rem;
    z-index: -1;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button:hover:before {
    width: 100%;
  }
  